<html>  
    <head>
        <title>  fucking  blog</title>
    </head> 
    <body>  
        <div>
            <h1>part one</h1>
            <br>
            <p> kiss my metal ass
        </div>
        {% for post in posts %} 
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a hret="">{{post.title}}</a></h1>
            <p>{{post.text|linebreaks}}</p>
        </div>
        {% endfor %}
        <div>
            <img src="">
        </div>
    </body>








</html>
